.Apps1 {
    height: 100vh; /* Ensure the height covers the viewport */
    width:100vw;
    background-image: url("../../Images/spnnerBg.jpg");
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center;
    background-color: #FF6005;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    box-sizing: border-box; /* Includes padding in width and height */
    overflow: hidden;
  }
  
  button {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  button:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  /* Flex and grid layout adjustments for smaller screens */
  @media (max-width: 768px) {
    .Apps {
      padding: 10px;
    }
  
    button {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
  
  @media (max-width: 480px) {
    .Apps {
      padding: 5px;
    }
  
    h1 {
      font-size: 20px;
    }
  
    h2 {
      font-size: 18px;
    }
  
    button {
      font-size: 12px;
      padding: 6px 12px;
    }
  }
  