.App1 {
  min-height: 100vh; /* Ensure it takes the full viewport height */
  width:100vw;
  background-image: url("../../Images/spnnerBg.jpg");
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center center; /* Centers the image */
  background-color: #FF6005;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 10px; /* Add padding for smaller screens */
  box-sizing: border-box; /* Include padding and borders in element's width and height */
}


.wheel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 120%;
  height: 160%;

}

.spin-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 25px;
  font-size: 1rem;
  font-weight: bold;
  color: #59113F;
  border:8px solid #FB6909;
  background:white;
  /* background: url('../../Images/base.jpg') no-repeat center center; */
  background-size: cover;
  /* border: none; */
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}


.spin-button:hover {
  transform: translate(-50%, -50%) scale(1.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

/* Responsive Design */
@media (max-width: 768px) {
  .App1 {
    padding: 10px;
  }

  .wheel-container {
    max-width: 300px;
  }

  .spin-button {
    padding: 30px 27px;
    font-size: 1rem;
  }

  .Modal {
    width: 80%; /* Adjust modal width on smaller screens */
  }
}

@media (max-width: 480px) {
  .App1 {
    padding: 5px;
  }

  .wheel-container {
    max-width: 200px;
  }

  .spin-button {
    padding: 15px 10px;
    font-size: 1rem;
  }
}
/* Hide default pin (if it exists) */
.wheel-container .wheel-pin {
  display: none;
}

/* Custom pin styles */
.custom-pin {
  position: absolute;
  top: 0; /* Adjust position above the wheel */
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 50px;
  background-color: #f39c12; /* Your custom color */
  border-radius: 5px;
  z-index: 10; /* Make sure the custom pin is above the wheel */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.wheel-container svg > path:first-of-type {
  display: none; /* Hides the default red pin */
}
.wheel-container svg path {
  fill: transparent; /* Makes the pin invisible */
  pointer-events: none; /* Ensures no interaction with the pin */
}




